<div class="col-3 sidebar-custom">
    <mat-list role="list">
        <mat-list-item role="dashboard"><mat-icon>dashboard</mat-icon><span
                class="ms-4">Dashboard</span></mat-list-item>
        <mat-list-item role="employeeData"><mat-icon>people</mat-icon><span class="ms-4">Employee
                Details</span></mat-list-item>
        <mat-list-item role="AdminData"><img src="../../../../assets/icons/admin.svg" class="icon-m"><span
                class="ms-3">Admin Details</span></mat-list-item>
        <mat-list-item role="listitem"><mat-icon>file_copy</mat-icon><span class="ms-4">Reports</span></mat-list-item>
    </mat-list>
</div>