<mat-toolbar class="example-toolbar">

    <button mat-icon-button class="button-custom mt-2" (click)="toggleMenu()"><mat-icon class="icon-style">menu</mat-icon></button>
    <h1 class="example-app-name">USecure</h1>
    <span class="example-spacer"></span>
    <mat-icon class="icon-style icon-s" [matMenuTriggerFor]="menu">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>person</mat-icon> Profile</button>
        <button mat-menu-item><mat-icon>payment</mat-icon> Payment</button>
        <button mat-menu-item><mat-icon>settings</mat-icon> Settings</button>
        <button mat-menu-item><mat-icon>power_settings_new</mat-icon> Logout</button>
      </mat-menu>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>

<div>
    <app-side-bar *ngIf="showMenu"></app-side-bar>
</div>