<div class="row ms-2 mt-2">
    <h1 class="title-style-color button-font">UPhish</h1>
    <div class="col">
        <canvasjs-chart [options]="chartOptionsPieOpened"></canvasjs-chart>
    </div>
    <div class="col">
        <canvasjs-chart [options]="chartOptionsPieCompromised"></canvasjs-chart>
    </div>
    <div class="col">
        <canvasjs-chart [options]="chartOptionsPieVisited"></canvasjs-chart>
    </div>
    <div class="col">
        <canvasjs-chart [options]="chartOptionsPieReported"></canvasjs-chart>
    </div>
</div>
