.align-custom {
    float: right !important;
}

.button-color {
    color: $primary-blue !important;
}

.button-color-primary {
    background-color: $primary-blue !important;
    color: $primary-grey !important;
}