.icon-style {
    color: $primary-blue !important;
    cursor: pointer;
}

.icon-s {
    height: 2rem !important;
    width: 2rem !important;
}

.icon-m {
    height: 4rem !important;
    width: 2rem !important;
}
.icon-position{
    float: right !important;
}