.example-card {
    max-width: 400px;
    // background-color: bisque;
    border-radius: 1rem;
    margin-top: 6rem !important;
    margin-left: 35% !important;
    // text-align: center !important;
  }

  .divider-style {
    color:$primary-blue !important;
    width: 23rem !important;
    text-align: left !important;
    margin-left: 0 !important;
  }

  .title-style {
    color:$primary-blue !important;
    font-size: 0.9rem !important;
    margin-left: 50% !important;
    cursor: pointer;
  }

  .logo-style {
    margin-left: 10% !important;
    }

 .title-style-custom {
        color:$primary-blue !important;
        font-size: 0.8rem !important;
        margin-left: 25% !important;
        cursor: pointer;
      }

.custom-align {
    align-items: center !important;
    margin-left: 35% !important;
}
.divider-style-xs{
    color:$primary-blue !important;
    width: 10rem !important;
    text-align: left !important;
    margin-left: 0 !important;
}

.title-style-padding{
    color:$primary-blue;
    font-size: 0.9rem !important;
    margin-left: 10% !important;
}

.title-style-reset {
    color:$primary-blue !important;
    font-size: 0.9rem !important;
    margin-left: 30% !important;
    cursor: pointer;
  }

  .title-style-button {
    color:$primary-blue !important;
    font-size: 0.7rem !important;
    margin-left: 49% !important;
    cursor: pointer;
  }