.example-spacer {
    flex: 1 1 auto;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
    color: $primary-blue !important;
  }
  
  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  
.sidebar-custom {
    min-height: 40rem !important;
    background-color: $primary-grey !important;
}

.title-style-color {
  color: $primary-blue !important;
}

// .closed-sidebar {
//     width: 0;  /* Set the width to 0 to hide the sidebar when closed */
//     overflow: hidden;  /* Hide any content that overflows the hidden sidebar */
//   transition: width 0.3s ease;  /* Add a smooth transition effect */
//   }
// .custom-height{
//     min-height: 40rem !important;
//     border-color: $primary-grey !important;
// }