.btn-outline-primary {
    height: 2.5rem !important;
}
.btn {
    // width: 5rem !important;
    &-md {
        width: 5rem !important;
    }
    &-xl {
        width: 23rem !important;
    }
}
.form-control {
    font-size: 0.8rem !important;
}

.mat-drawer-container {
    min-height: 40rem !important;
}

.canvasJs-chart-canvas {
    width: 30rem !important;
    height: 20rem !important;
}

// .mat-mdc-text-field-wrapper {
//     height: 2rem !important;
// }

mat-form-field {
    width:  100%;
}