/* variables used */

/* Colors used */

$primary-blue: #1E7BE4;
$primary-red: #FF0000;
$primary-grey:#E0D8D8 ;
$secondary-blue: #616B6F ;


/* Font Sizes */

$Font-xxs: 8px;
$Font-xs: 10px;
$Font-m: 12px;
$Font-xl: 14px;
$Font-xxl: 16px;
$Font-xxxl: 18px;

/* Font Weight */

$font-light-xxs: 100;
$font-light-xs: 200;
$font-medium-xs: 300;
$font-medium-m: 400;
$font-medium-xl: 500;
$font-medium-xxl: 600;
$font-bold-m: 700;
$font-bold-xl: 800;