<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><img class="logo-style" src="../../../assets/images/logo.png"></mat-card-title>
      <mat-card-subtitle><h6 class="title-style-reset">Forgotten password</h6></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <hr class="divider-style">
        </div>
        <!-- <h6 class="title-style-custom">Create an account</h6> -->
        <div>
            <button mat-button class="title-style-reset" (click)="backToLogin()">Back to login</button>
        </div>
      <form>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
        </div>

      </form>
      <div class="mt-2 mb-3">
        <button type="button" class="btn btn-xl btn-outline-primary">Request Password Reset</button>
    </div>
    </mat-card-content>
  </mat-card>
